﻿ <!DOCTYPE html>
 <html lang="es">
 <head>
     <meta charset="utf-8" />
     <link rel="apple-touch-icon" sizes="50x50" href="~/Content/img/logodinac.png" />
     @*<link rel="pet.jpg" sizes="76x76" href="~/Content/assets/img/pet.jpg" />*@
     @*<link rel="icon" type="image/png" href="~/Content/assets/img/favicon.ico">*@
     <link rel="icon" type="image/jpg" href="~/Content/img/logodinac.png">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
     <title>Dinac</title>
     <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />


     <!-- CSS Files -->
     <link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" />
     <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
     @*<link href="~/Content/css/light-bootstrap-dashboard.css" rel="stylesheet" />*@
     <link href="~/Content/css/fullcalendar.min.css" rel="stylesheet" />
     <link href="~/Content/css/sweetalert2.min.css" rel="stylesheet" />

     <!--     Fonts and icons     -->
     <link href="~/Content/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />
     <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

     <!--   Core JS Files   -->
     <script src="~/Content/js/core/jquery.3.2.1.min.js"></script>
     <script src="~/Content/js/core/popper.min.js"></script>
     <script src="~/Content/js/core/bootstrap.min.js"></script>

     <!-- Material Kit CSS -->
     <link href="~/Content/css/material-kit.css" rel="stylesheet" />

     <!-- Material Kit JS -->
     <script src="~/Content/js/material-kit.js"></script>

     <!--  Google Maps Plugin    -->
     <!-- Plugin    -->
     <!--  Plugin for Date Time Picker and Full Calendar Plugin-->
     <script src="~/Content/js/plugins/moment.min.js"></script>

     <!--  DatetimePicker   -->
     <script src="~/Content/js/plugins/bootstrap-datepicker.js"></script>
     <script src="~/Content/js/plugins/bootstrap-datetimepicker.js"></script>

     <!--  Notifications Plugin    -->
     <script src="~/Content/js/plugins/bootstrap-notify.js"></script>

     <!--  Bootstrap Select  -->
     <script src="~/Content/js/plugins/bootstrap-selectpicker.js"></script>

     <!--  Plugin for Switches, full documentation here: https://www.jque.re/plugins/version3/bootstrap.switch/ -->
     <script src="~/Content/js/plugins/bootstrap-switch.js"></script>

     <!--  Bootstrap Table Plugin -->
     <script src="~/Content/js/plugins/bootstrap-table.js"></script>

     <!--  Tags Input  -->
     <script src="~/Content/js/plugins/bootstrap-tagsinput.js"></script>
     <script src="~/Content/js/plugins/chartist.min.js"></script>

     <!--  Full Calendar   -->
     <script src="~/Content/js/plugins/fullcalendar.min.js"></script>
     <script src="~/Content/js/plugins/gcal.min.js"></script>

     <!--  jVector Map  -->
     <script src="~/Content/js/plugins/jquery-jvectormap.js"></script>

     <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
     <script src="~/Content/js/plugins/jquery.bootstrap-wizard.js"></script>

     <!--  DataTable Plugin -->
     <script src="~/Content/js/plugins/jquery.dataTables.min.js"></script>

     <!--  Share Plugin -->
     <script src="~/Content/js/plugins/jquery.sharrre.js"></script>

     <!--  jQueryValidate  -->
     <script src="~/Content/js/plugins/jquery.validate.min.js"></script>

     <!--  Sliders  -->
     <script src="~/Content/js/plugins/nouislider.min.js"></script>

     <!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
     @*<script src="~/Content/js/light-bootstrap-dashboard.js"></script>*@

     <!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
     @*<script src="~/Content/js/demo.js"></script>*@

     <script type="text/javascript">

         function SinAcceso() {
             swal({
                 title: "Acceso restringido",
                 text: "Usted no tiene permisos para ver esta página consulte con el Administrador!",
                 type: "warning",
                 confirmButtonText: "Aceptar",
                 closeOnConfirm: true,
                 closeOnCancel: true
             },
                 function (isConfirm) {
                     location.href = "/Home";
                 });
         }


     </script>
 </head>
 <body>
     @*<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="100">
         <div class="container">
             <div class="navbar-translate">
                 <a class="navbar-brand" href="~/Content/img/logodinac.png"></a>
             </div>
             <div class="collapse navbar-collapse">
                 <ul class="navbar-nav ml-auto">
                     <li class="nav-item">
                         <a href="#" class="nav-link">
                             <i class="material-icons">apps</i> Template
                         </a>
                     </li>
                 </ul>
             </div>
         </div>
     </nav>*@
     <div class="page-header header-filter" data-parallax="true" style="background-image:url('../Content/img/fondo.png'); background-size:cover; background-position: center;">
         <div class="container">
             <div class="row">
                 <div class="col-md-8 ml-auto mr-auto">
                     <div class="brand text-center" style="background-color: rgba(255, 255, 255, 0.56); border-radius: 15px; padding: 15px;">
                         <h1 style="color:black;">Cuestionario Sanitario Obligatorio de Ingreso</h1>
                         <h3 class="title text-center" style="color:black;">
                         En relación con la emergencia sanitaria declarada por el COVID-19,
                         es obligatorio que responda a las siguientes preguntas.
                         Si es necesario se realizará una evaluación médica a su llegada.
                         </h3>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div class="main main-raised">
         <div class="container">
                 @RenderBody()
         </div>
     </div>
     <footer class="footer" style="border-color:gold;">
         <div class="container">
             <nav>
                 <div class="copyright text-center">
                     <b>© CGTIC - DINAC
                         <script>
                             document.write(new Date().getFullYear())
                         </script>
                     </b>
                 </div>
             </nav>
         </div>
     </footer>


 </body>
 </html>