﻿@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Imprimir</title>
    <link rel="icon" type="image/jpg" href="~/Content/img/logodinac.png">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/material-kit.css" rel="stylesheet" />

    <script src="~/Content/js/core/jquery.3.2.1.min.js"></script>
    <script src="~/Content/js/core/popper.min.js"></script>
    <script src="~/Content/js/core/bootstrap.min.js"></script>
    @*<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">*@
    <link href="~/Content/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />
    @*El modal tiene problemas con las librerias del layout, por eso se renderiza por separado*@
</head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover" style="margin-bottom: 10px;">
            <div class="card-header">
                <h4>Formulario Sanitario de Ingreso a Paraguay</h4>
            </div>
            <div class="card-body">
                <p>Gracias por completar los datos!</p>
                <p>Su codigo para editar sus respuestas es: <b>@ViewBag.codigo</b></p>
                <hr />
                <div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-2" style="align-content:center;">
                        <button class="btn btn-success btn-round" style="background-color:goldenrod;" id="btnImprimir">
                            <i class="fa fa-print"></i>
                            Imprimir
                            <div class="ripple-container"></div>
                        </button>
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-2" style="align-content:center;">
                        <a href="~/Home/Index" class="btn btn-default btn-round" id="btnVolver">
                            <i class="fa fa-mail-reply"></i>
                            Volver
                            <div class="ripple-container"></div>
                        </a>
                    </div>
                    
                </div>
            </div>

            
        </div>
    </div>
</body>
</html>
<div id="modalreporte" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Vista de Impresion </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <iframe src="~/Reportes/reportes.aspx" width="100%" height="500px"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnImprimir").click(function () {
            $("#modalreporte").modal();
            $("#modalreporte").modal('show');
        });
    });
</script>


