﻿@model SanitEntity.FormularioPrincipal

@{
    ViewBag.Title = "Sanit";
}

<!DOCTYPE html>

<html lang="es">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    <div class="row" style="margin-bottom:-20px;margin-left:0px;margin-right:0px;">
        <div class="col-md-9" style="margin-top:20px;">
            <div class="card card-nav-tabs" style="background-color:darkgoldenrod">
                <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab">
                                    <i class="material-icons">assignment</i>
                                    Formulario de Ingreso a Paraguay
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 card" style="margin-left:0px; margin-top:10px;padding:10px;">
            <label style="color:black; text-align:justify;">Si ya relleno un formulario, ingrese el codigo proporcionado.</label>
            <div class="row">
                <div class="col-md-10">
                    @Html.TextBox("codigoEdicion", null, new { @class = "form-control", @maxlength = "10", @style = "background-color:#F0F0F0;" })
                </div>
                <div class="col-md-2" style="margin-left: -30px; margin-top: -5px;">
                    <button type="button" class="btn btn-fab btn-round" style="background-color:goldenrod;" id="btnEditar">
                        Ir
                        <div class="ripple-container"></div>
                    </button>
                    @*<a href="@Url.Action("EditarDatosPasajero", "Home")" title="" class="btn btn-fab btn-round" style="background-color: goldenrod;" data-original-title="Editar"></a>*@
                    @*<button id="btnEditar" title="" class="btn btn-fab btn-round" style="background-color: goldenrod;" data-original-title="Editar">IR</button>*@
                </div>
            </div>
        </div>
    </div>
    <hr style="margin:0px; margin-bottom:-25px;" />

    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "formPrincipal" }))
    {
        @Html.AntiForgeryToken()
        <div class="container-fluid">
            @*//Seccion Vuelo*@
            <div class="card card-body strpied-tabled-with-hover">
                <h4><i class="fa fa-plane" style="color:goldenrod"></i>&nbsp;<b>Información de Vuelo</b></h4>
                <hr>
                <div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-4">
                        <label>Aerolinea</label>
                        @Html.TextBox("lineaAerea", "", new { @class = "form-control", @required = "required", @maxlength = "50" })
                    </div>
                    <div class="col-sm-5 col-md-2 col-lg-2">
                        <label>Nro. de Vuelo</label>
                        @Html.TextBox("numeroVuelo", "", new { @class = "form-control", @required = "required", @maxlength = "20" })

                    </div>
                    <div class="col-sm-5 col-md-2 col-lg-2">
                        <label>Nro. de Asiento</label>
                        @Html.TextBox("numeroAsiento", "", new { @class = "form-control", @required = "required", @maxlength = "20" })

                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-3">
                        <label>Fecha de Llegada</label>
                        @Html.TextBox("fechaLlegada", "", new { @class = "form-control", @type = "date", @required = "required" })
                    </div>
                </div>
            </div>

            @*//Seccion Pasajero*@
            <div class="card card-body strpied-tabled-with-hover">
                <h4><i class="material-icons" style="color:goldenrod">assignment_ind</i>&nbsp;<b>Información Personal</b></h4>
                <hr>
                <div class="row">
                    <div class="col-sm5 col-md-5 col-lg-3">
                        <label>Nro doc/ Pasaporte/ CI/ DNI</label>
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-3">
                        @Html.TextBox("nroDocumento", "", new { @class = "form-control", @required = "required", @maxlength = "50" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-3">
                        <label>Apellido</label>
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-3">
                        @Html.TextBox("apellido", "", new { @class = "form-control", @required = "required", @maxlength = "50" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-3">
                        <label>Nombre de Pila</label>
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-3">
                        @Html.TextBox("nombre", "", new { @class = "form-control", @required = "required", @maxlength = "50" })
                    </div>
                </div>
                <div class="row">
                    @*<div class="col-sm-5 col-md-5 col-lg-3">
                        <label>Inicial</label>
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-3">
                        @Html.TextBox("inicial", "", new { @class = "form-control", @required = "required", @maxlength = "1" })
                    </div>*@

                    <div class="col-sm-5 col-md-5 col-lg-3">
                        <label>Sexo</label>
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-3">
                        @Html.DropDownList("sexo", new SelectList(new List<object>
                                                {
                                                new { value = "", text = "--Seleccionar--"},
                                                new { value = "F", text = "Femenino"},
                                                new { value = "M", text = "Masculino"},
                                                },
                             "value",
                             "text", (String)ViewBag.ddlSexo), new { @class = "form-control", @required = "required" })
                    </div>
                </div>
            </div>

            @*//Seccion Contacto*@
            <div class="card card-body strpied-tabled-with-hover">
                <h4><i class="material-icons" style="color:goldenrod">contact_phone</i>&nbsp;<b>Información de Contacto</b></h4>
                <hr>
                <div class="row">
                    <div class="col-lg-4 col-md-5 col-sm-3">
                        <label>Nro. Celular</label>
                        @Html.TextBox("celular", "", new { @class = "form-control", @required = "required", @maxlength = "50" })
                    </div>
                    <div class="col-sm3 col-md-2 col-lg-2">
                        <label>Nro. Laboral</label>
                        @Html.TextBox("telefonoTrabajo", "", new { @class = "form-control", @maxlength = "50" })

                    </div>
                    <div class="col-sm3 col-md-2 col-lg-2">
                        <label>Tel. Domicilio</label>
                        @Html.TextBox("telefonoDomicilio", "", new { @class = "form-control", @maxlength = "50" })

                    </div>
                    <div class="col-sm5 col-md-4 col-lg-4">
                        <label>Correo Electrónico</label>
                        @Html.TextBox("correoElectronico", "", new { @class = "form-control", @placeholder = "example@mail.com", @type = "email", @maxlength = "100", @required = "required" })

                    </div>
                </div>
            </div>

            @*//Dirección Permanente*@
            <div class="card card-body strpied-tabled-with-hover">
                <h4><i class="material-icons" style="color:goldenrod">pin_drop</i>&nbsp;<b>Dirección Permanente</b></h4>
                <hr>
                <div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-4">
                        <label>Dirección Calle y Numero</label>
                        @Html.TextBox("direccionPermanente", "", new { @class = "form-control", @required = "required", @maxlength = "100" })
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-3">
                        <label>Dpto./Piso</label>
                        @Html.TextBox("numeroCasaPermanente", "", new { @class = "form-control", @maxlength = "50" })
                    </div>
                    <div class="col-sm-5 col-md-2 col-lg-3">
                        <label>Ciudad</label>
                        @Html.TextBox("ciudadPermanente", "", new { @class = "form-control", @required = "required", @maxlength = "50" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-4">
                        <label>Dpto./Estado/Provincia</label>
                        @Html.TextBox("depEstProvPermanente", "", new { @class = "form-control", @required = "required", @maxlength = "50" })
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-3">
                        <label>Pais</label>
                        @Html.DropDownList("idPaisPermanente", null, "--Seleccionar--", new { @class = "form-control", @required = "required" })
                    </div>
                    <div class="col-sm-5 col-md-2 col-lg-2">
                        <label>Codigo Postal</label>
                        @Html.TextBox("codigoPostalPermanente", "", new { @class = "form-control", @maxlength = "10" })
                    </div>
                </div>
            </div>

            @*//Dirección Temporal*@
            <div class="card card-body strpied-tabled-with-hover">
                <h4><i class="material-icons" style="color:goldenrod">person_pin_circle</i>&nbsp;<b>Dirección Temporal</b></h4>
                <hr>
                <div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-3">
                        <label>Nombre del Hotel</label>
                        @Html.TextBox("nombreHotelTemp", "", new { @class = "form-control", @maxlength = "50" })
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-3">
                        <label>Dirección Calle y Numero</label>
                        @Html.TextBox("direccionHotelTemp", "", new { @class = "form-control", @maxlength = "50" })
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-3">
                        <label>Dpto./Piso</label>
                        @Html.TextBox("numPiso", "", new { @class = "form-control", @maxlength = "10" })
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-3">
                        <label>Pais</label>
                        @Html.DropDownList("idPaisTemp", null, "--Seleccionar--", new { @class = "form-control" })
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-3">
                        <label>Dpto./Estado/Provincia</label>
                        @Html.TextBox("departamentoTemp", "", new { @class = "form-control", @maxlength = "50" })
                    </div>
                    <div class="col-sm-5 col-md-2 col-lg-3">
                        <label>Ciudad</label>
                        @Html.TextBox("ciudadTemp", "", new { @class = "form-control", @maxlength = "50" })
                    </div>
                    <div class="col-sm-5 col-md-2 col-lg-2">
                        <label>Codigo Postal</label>
                        @Html.TextBox("codigoPostalTemp", "", new { @class = "form-control", @maxlength = "10" })
                    </div>
                </div>
            </div>

            @*Contacto Para Casos de Urgencia*@
            <div class="card card-body strpied-tabled-with-hover">
                <h4><i class="material-icons" style="color:goldenrod">phone_forwarded</i><i class="material-icons" style="color:goldenrod">local_hospital</i>&nbsp;<b>Información de Contacto para Urgencias</b></h4>
                <hr>
                <div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-3">
                        <label>Apellido</label>
                        @Html.TextBox("apellidoContUrg", "", new { @class = "form-control", @required = "required", @maxlength = "50" })
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-3">
                        <label>Nombre de Pila</label>
                        @Html.TextBox("nombreContUrg", "", new { @class = "form-control", @required = "required", @maxlength = "50" })
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-3">
                        <label>Pais</label>
                        @Html.DropDownList("idPaisContUrg", null, "--Seleccionar--", new { @class = "form-control", @required = "required" })
                    </div>
                    <div class="col-sm-5 col-md-2 col-lg-3">
                        <label>Ciudad</label>
                        @Html.TextBox("ciudadContUrg", "", new { @class = "form-control", @required = "required", @maxlength = "50" })
                    </div>
                    <div class="col-sm-5 col-md-4 col-lg-4">
                        <label>Correo Electrónico</label>
                        @Html.TextBox("emailContUrg", "", new { @class = "form-control", @placeholder = "example@mail.com", @type = "email", @maxlength = "100" })
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-2">
                        <label>Nro. Celular</label>
                        @Html.TextBox("celularContUrg", "", new { @class = "form-control", @required = "required", @maxlength = "20" })
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-3">
                        <label>Otro Telefono</label>
                        @Html.TextBox("telefonoContUrg", "", new { @class = "form-control", @maxlength = "20" })
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            @*Familia*@
            <div class="card card-body strpied-tabled-with-hover">
                <h4><i class="material-icons" style="color:goldenrod">family_restroom</i>&nbsp;<b>Compañeros de Viaje - FAMILIA</b></h4>
                <hr>
                <div class="row">
                    <div class="col-sm3 col-md-5 col-lg-4">
                        <label>Apellido</label>
                        @Html.TextBox("apellidoFamilia", "", new { @class = "form-control", @maxlength = "50" })
                    </div>
                    <div class="col-sm3 col-md-5 col-lg-4">
                        <label>Nombre de Pila</label>
                        @Html.TextBox("nombreFamilia", "", new { @class = "form-control", @maxlength = "50" })
                    </div>
                    <div class="col-sm-5 col-md-3 col-lg-1">
                        <label>Asiento</label>
                        @Html.TextBox("nroAsientoFamilia", "", new { @class = "form-control", @maxlength = "10" })
                    </div>
                    <div class="col-sm2 col-md-3 col-lg-1">
                        <label>Edad</label>
                        @Html.TextBox("edadFamilia", "", new { @class = "form-control", @type = "number" })
                    </div>
                    <button type="button" class="btn btn-fab btn-round" style="background-color:goldenrod;" id="btnAgregarFamilia">
                        <i class="material-icons">add</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
                <table class="card table table-responsive table-hover" id="familia">
                    <tbody></tbody>
                </table>
            </div>
            @*NO Familia*@
            <div class="card card-body strpied-tabled-with-hover">
                <h4><i class="material-icons" style="color:goldenrod">people</i>&nbsp;<b>Compañeros de Viaje - NO FAMILIA</b></h4>
                <hr>
                <div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-4">
                        <label>Grupo</label>
                        @Html.TextBox("nombreGrupo", "", new { @class = "form-control", @maxlength = "50" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-4">
                        <label>Apellido</label>
                        @Html.TextBox("apellidoCompa", "", new { @class = "form-control", @maxlength = "100" })
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-4">
                        <label>Nombre de Pila</label>
                        @Html.TextBox("nombreCompa", "", new { @class = "form-control", @maxlength = "100" })
                    </div>
                    <button type="button" class="btn btn-fab btn-round" style="background-color:goldenrod;" id="btnAgregarCompa">
                        <i class="material-icons">add</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
                <table class="card table table-responsive table-hover" id="grupo">
                    <tbody></tbody>
                </table>
            </div>
            @*Cuestionario*@
            <div class="card card-body strpied-tabled-with-hover" id="cuestionario">
                <h4><i class="material-icons" style="color:goldenrod">live_help</i>&nbsp;<b>Cuestionario</b></h4>
                <hr>
                <h6>1- ¿Ha tenido contacto con un caso confirmado por COVID-19 en los ultimos 14 dias?</h6>
                <div class="row" style="text-align:center">
                    <div class="form-check" style="width:25%">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" name="contactocovid" id="contactocovidpositivo">
                            Si
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check" style="width:25%">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" name="contactocovid" id="contactocovidnegativo">
                            No
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </div>
                <hr />
                <h6>2- ¿Usted o alguno de sus familiares/acompañantes presenta fiebre, tos o dificultad respiratoria?</h6>
                <div class="row" style="text-align:center">
                    <div class="form-check" style="width:25%">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" name="fsintomas" id="familiarsintomaspositivo">
                            Si
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check" style="width:25%">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" name="fsintomas" id="familiarsintomasnegativo">
                            No
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </div>
                @*Se visibiliza en caso de que tenga familiares con sintomas*@
                <div style="display:none;" id="familiaressintomaticos">
                    <h8>
                        Por favor, indique los datos de la persona o personas que presentan los sintomas anteriormente
                        indicados y marque con check el o los sintomas que presenta
                    </h8>
                    <div class="row" style="">
                        <div class="col-sm-5 col-md-5 col-lg-3">
                            <label>Apellido</label>
                            @Html.TextBox("apellidoSintomatico", "", new { @class = "form-control" })
                        </div>
                        <div class="col-sm-5 col-md-5 col-lg-3">
                            <label>Nombre de Pila</label>
                            @Html.TextBox("nombreSintomatico", "", new { @class = "form-control" })
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Fiebre</label>
                                <div class="form-check" style="margin-top:0px;">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="" name="sintom" id="fiebre">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label>Tos</label>
                                <div class="form-check" style="margin-top:0px;">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="" name="sintom" id="tos">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label>Dificultad Respiratoria</label>
                                <div class="form-check" style="margin-top:-10px;">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="" name="sintom" id="respiratorio">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <button type="button" class="btn btn-fab btn-round" style="background-color:goldenrod; margin-top:25px;margin-left:20px;" id="btnAddSintomatico">
                                <i class="material-icons">add</i>
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </div>
                    <table class="card table table-responsive table-hover" id="sintomaticos">
                        <tbody></tbody>
                    </table>
                </div>
                <hr />
                <h6>3- ¿Usted o alguno de sus familiares/acompañantes ha acudido/visitado un hospital en los últimos 14 dias?</h6>
                <div class="row" style="text-align:center">
                    <div class="form-check" style="width:25%">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" name="hospital" id="sihospital">
                            Si
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check" style="width:25%">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" name="hospital" id="nohospital">
                            No
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </div>
                <hr />
                <h6>4- ¿Ha visitado algún mercado de animales vivos en los últimos 14 dias?</h6>
                <div class="row" style="text-align:center">
                    <div class="form-check" style="width:25%">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" name="mercado" id="simercado">
                            Si
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check" style="width:25%">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" name="mercado" id="nomercado">
                            No
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </div>
                <hr />
                <h6>5- Motivo del viaje</h6>
                <div class="row" style="display:flex; text-align:center">
                    <div class="form-check" style="margin-left:10px;">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" name="motivos" id="turismo">
                            Turismo
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check" style="margin-left:10px;">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" name="motivos" id="trabajo">
                            Trabajo
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check" style="margin-left:10px;">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" name="motivos" id="visitafamiliar">
                            Visita familiar
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check" style="margin-left:10px;">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" name="motivos" id="misionespecial">
                            Misión Especial
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check" style="margin-left:10px;">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" name="motivos" id="cooperacion">
                            Cooperación
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </div>
                <hr />
                <h6>6- Antecedentes de viajes</h6>
                <h8 class="label">Por favor indique todos los países por los que ha viajado/transitado en los últimos 14 días</h8>
                <div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-4">
                        <label>País</label>
                        @Html.DropDownList("idPaisTransitado", null, "--Seleccionar--", new { @class = "form-control" })
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-4" style="margin-top:25px;">
                        <button type="button" class="btn btn-fab btn-round" style="background-color:goldenrod;" id="btnAgregarPais">
                            <i class="material-icons">add</i>
                            <div class="ripple-container"></div>
                        </button>
                    </div>
                </div>
                <table class="card table table-responsive table-hover" style="margin-top:0px;" id="paisesTransitados">
                    <tbody></tbody>
                </table>
                <p style="text-align:justify;">
                    Me comprometo a que si durante los 14 días posteriores a la entrada en Paraguay presento síntomas de infección respiratoria aguda 
                    (fiebre, tos o dificultad respiratoria), me auto aislaré en el domicilio/lugar de residencia, realizando una auto vigilancia de 
                    los síntomas del coronavirus y me pondré en contacto telefónicamente con las autoridades sanitarias competentes.<br />
                    <b>Me comprometo a llevar a cabo aquellas indicaciones y medidas que me indiquen las autoridades sanitarias.</b>
                </p>
                <hr />
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6" style="text-align:center;">
                        <div class="form-check" style="margin-left:10px;">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="" id="acepto">
                                Acepto los terminos y condiciones
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div style="text-align:left;margin-bottom:20px;">
                            <button class="btn btn-success" style="background-color:goldenrod;" id="btnGuardar">
                                <span class="btn-label">
                                    <i class="material-icons">assignment_turned_in</i>
                                </span>
                                Guardar
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    }
</body>
</html>
<script type="text/javascript">
    $("#btnImprimir").click(function () {
        $("#modalreporte").modal();
        $("#modalreporte").modal('show');
    });
    $("#btnEditar").click(function () {
        debugger
        var codigoEdicion = $("#codigoEdicion").val();
        $.ajax({
            contentType: 'application/json',
            type: 'GET',
            url: "/Home/getPasajero",
            data: { codigo: codigoEdicion},
            success: function (data) {
                if (data == "0") {
                    window.location.href = '@Url.Action("EditarDatosPasajero", "Home")'+'/'+codigoEdicion;
                    //swal({ text: "Campos de cliente requeridos!", type: "warning" });
                } else if(data == "1") {
                    alert("Edicion bloqueada: Su fecha de vuelo ya esta proxima")
                    //swal({ text: "Campos de cliente requeridos!", type: "warning" });
                } else if (data == "2") {
                    alert("El formulario no existe")
                } else {
                    alert("Error")
                };
            },
            error: function () {
                alert("Error")
            }
        });

    });
    $(document).ready(function () {
        //$('#modalEdicion').modal('toggle')
        var nro_familia = 0;
        var nro_compa = 0;
        var nro_sin = 0;
        var nro_pais = 0;
        clearFamilia();
        clearCompas
        clearSintomaticos();
        clearPaises();

         $("#btnAgregarFamilia").click(function (e) {
            if ($("#apellidoFamilia").val() == "") {
                alert("Debe cargar el apellido");
                $("#apellidoFamilia").focus();
            } else if ($("#nombreFamilia").val() == "") {
                alert("Debe cargar el nombre");
            } else if ($("#nroAsientoFamilia").val() == "") {
                alert("Debe cargar el asiento");
            }
            else {
                agregarFamilia()
            }
        });

        function agregarFamilia() {
            nro_familia = nro_familia + 1;
            var apellido = $("#apellidoFamilia").val();
            var nombre = $("#nombreFamilia").val();
            var nroAsiento = $("#nroAsientoFamilia").val();
            var edad = $("#edadFamilia").val();

            var familia = $("#familia tbody");

            var familiar = '<tr><td>' + nro_familia + '</td><td>' + apellido  + '</td><td>' + nombre + '</td><td>' + nroAsiento + '</td><td>' + edad + '</td><td><a data-itemId="0" href="#" class="deleteItem"><i class="fa fa-times" style="color:goldenrod; font-size:20px" aria-hidden="true"></i></a></td></tr>';
            familia.append(familiar);
            clearFamilia();
        };

        $(document).on('click', 'a.deleteItem', function (e) {
			e.preventDefault();
			var $self = $(this);
			if ($(this).attr('data-itemId') == "0") {
                $(this).parents('tr').css("background-color", "#e6da83").fadeOut(800, function () {
					$(this).remove();
				});
			}
		});

        //Seccion Compañeros de Viaje
        $("#btnAgregarCompa").click(function (e) {
            if ($("#apellidoCompa").val() == "") {
                alert("Debe cargar el apellido");
                $("#apellidoCompa").focus();
            }
            else if ($("#nombreCompañero").val() == "") {
                alert("Debe cargar el nombre");
            }
            else {
                agregarCompa()
            }
        });

        function agregarCompa() {
            nro_compa = nro_compa + 1;
            var apellido = $("#apellidoCompa").val();
            var nombre = $("#nombreCompa").val();

            var grupo = $("#grupo tbody");

            var compa = '<tr><td>' + nro_compa + '</td><td>' + apellido  + '</td><td>' + nombre + '</td><td><a data-itemId="0" href="#" class="deleteItem"><i class="fa fa-times" style="color:goldenrod; font-size:20px" aria-hidden="true"></i></a></td></tr>';
            grupo.append(compa);
            clearCompas();
        };

        //Seccion Paises Transitados
        $("#btnAgregarPais").click(function (e) {
            if ($("#idPaisTransitado").val() == "") {
                alert("Debe cargar el pais");
                $("#idPaisTransitado").focus();
            }
            else {
                agregarPais()
            }
        });

        function agregarPais() {
            nro_pais = nro_pais + 1;
            var idPais = $("#idPaisTransitado").val();
            var pais = $("#idPaisTransitado").find("option:selected").text();

            var paises = $("#paisesTransitados tbody");

            var p = '<tr><td>' + nro_pais + '</td><td style="display:none">'+ idPais + '</td><td>' + pais + '</td><td><a data-itemId="0" href="#" class="deleteItem"><i class="fa fa-times" style="color:goldenrod; font-size:20px" aria-hidden="true"></i></a></td></tr>';
            paises.append(p);
            clearPaises();
        };

        //CUESTIONARIO
        //1 CONTACTO POSITIVO
        $("#contactocovidpositivo").on('click', function () {
            $("#contactocovidnegativo").prop("checked", false);
        });
        $("#contactocovidnegativo").on('click', function () {
            $("#contactocovidpositivo").prop("checked", false);
        });
        //2 FAMILIAR SINTOMATICO
        $("#familiarsintomaspositivo").on('click', function () {
            $("#familiarsintomasnegativo").prop("checked", false);
            if (this.checked) {
                $("#familiaressintomaticos").show()
            }
        });
        $("#familiarsintomasnegativo").on('click', function () {
            $("#familiarsintomaspositivo").prop("checked", false);
            if (this.checked) {
                $("#familiaressintomaticos").hide()
            }
        });
        //LISTA DE FAMILIARES SINTOMATICOS
        $("#btnAddSintomatico").click(function (e) {
            if ($("#apellidoSintomatico").val() == "") {
                alert("Debe cargar el apellido");
                $("#apellidoSintomatico").focus();
            }
            else if ($("#nombreSintomatico").val() == "") {
                alert("Debe cargar el nombre");
                $("#nombreSintomatico").focus();
            }
            else {
                agregarSintomatico()
            }
        });

        function agregarSintomatico() {
            nro_sin = nro_sin + 1;
            var apellido = $("#apellidoSintomatico").val();
            var nombre = $("#nombreSintomatico").val();
            var sint = $("#sintomaticos tbody");
            var sintomas = ""

            if ($("#fiebre").prop('checked') == true) {
                sintomas = "FIEBRE - ";
            };
            if ($("#tos").prop('checked') == true) {
                sintomas = sintomas + "TOS - ";
            };
            if ($("#respiratorio").prop('checked')== true) {
                sintomas = sintomas + "DIF. RESPIRATORIA";
            };
            if (sintomas.charAt(sintomas.length-2) == '-') {
                sintomas = sintomas.substr(0, sintomas.length-3);
            }

            var s = '<tr><td>' + nro_sin + '</td><td>' + apellido + '</td><td>' + nombre + '</td><td>' + sintomas + '</td><td>'+ '</td><td><a data-itemId="0" href="#" class="deleteItem"><i class="fa fa-times" style="color:goldenrod; font-size:20px" aria-hidden="true"></i></a></td></tr>';
            sint.append(s);
            clearSintomaticos();
        };

        function clearSintomaticos() {
            $("#apellidoSintomatico").val('');
            $("#nombreSintomatico").val('');
            $("input:checkbox[name=sintom]").prop('checked', false);
        }
        //3 VISITA HOSPITAL
        $("#sihospital").on('click', function () {
            $("#nohospital").prop("checked", false);
        });
        $("#nohospital").on('click', function () {
            $("#sihospital").prop("checked", false);
        });
        //4 MERCADO DE ANIMALES
        $("#simercado").on('click', function () {
            $("#nomercado").prop("checked", false);
        });
        $("#nomercado").on('click', function () {
            $("#simercado").prop("checked", false);
        });
        //5 MOTIVO DEL VIAJE
        $("input:checkbox[name=motivos]").on('click', function () {
                if (this.checked) {
                    $('input:checkbox[name=motivos]').not(this).prop('checked', false);
                }
            });

        //CARGA DE DATOS

        $("#formPrincipal").submit(function (e) {
            e.preventDefault();
            debugger
            var rowCount = $('#sintomaticos tr').length;
            var check = $('#familiarsintomaspositivo').is(":checked");

            //Validacion de Cuestionario
            var checked1 = $("input:checkbox[name=contactocovid]:checked").length;
            var checked2 = $("input:checkbox[name=fsintomas]:checked").length;
            var checked3 = $("input:checkbox[name=hospital]:checked").length;
            var checked4 = $("input:checkbox[name=mercado]:checked").length;
            var checked5 = $("input:checkbox[name=motivos]:checked").length;

            if (!checked1 || !checked2 || !checked3 || !checked4 || !checked5) {
                alert("Debe Completar todo el formulario!");
                return false;
            } else {
                if ($('#acepto').is(":checked") == false) {
                    alert("Debe aceptar los terminos y condiciones")
                } else if (rowCount == 0 && check == true) {
                    alert("Debe cargar los familiares con sintomas");
                }
                else {
                $("#btnGuardar").prop('disabled', true);
                $("#btnGuardar").css('color', 'gray');
                var formulario = [], familia = [], grupoList = [], sintomaticos = [], paisesTransitados = [];
                formulario.length, familia.length = 0, grupoList.length = 0, sintomaticos.length = 0, paisesTransitados.length = 0;

                $.each($("#familia tbody tr"), function () {
                    familia.push({
                        idCompFamilia: 0,
                        idPasajero: 0,
                        nombre: $(this).find('td:eq(1)').html(),
                        apellido: $(this).find('td:eq(2)').html(),
                        nroAsiento: $(this).find('td:eq(3)').html(),
                        edad: $(this).find('td:eq(4)').html(),
                    });
                });
                $.each($("#grupo tbody tr"), function () {
                    grupoList.push({
                        grupo: $("#nombreGrupo").val(),
                        nombre: $(this).find('td:eq(1)').html(),
                        apellido: $(this).find('td:eq(2)').html(),
                    });
                });
                $.each($("#sintomaticos tbody tr"), function () {
                    sintomaticos.push({
                        nombre: $(this).find('td:eq(1)').html(),
                        apellido: $(this).find('td:eq(2)').html(),
                        sintomas: $(this).find('td:eq(3)').html()
                    });
                });
                $.each($("#paisesTransitados tbody tr"), function () {
                    paisesTransitados.push({
                        idPais: $(this).find('td:eq(1)').html()
                    });
                });

                //Cuestionario
                var contacto, sintomasgrupo, hospital, mercado, motivo = "";
                if ($('#contactocovidpositivo').is(":checked") == true) { contacto = "S" } else { contacto = "N" };
                if ($('#familiarsintomaspositivo').is(":checked") == true) { sintomasgrupo = "S" } else { sintomasgrupo = "N" };
                if ($('#sihospital').is(":checked") == true) { hospital = "S" } else { hospital = "N" };
                if ($('#simercado').is(":checked") == true) { mercado = "S" } else { mercado = "N" };
                if ($('#turismo').is(":checked") == true) { motivo = "Turismo" } else if ($('#trabajo').is(":checked") == true) { motivo = "Trabajo" };
                if ($('#visitafamiliar').is(":checked") == true) { motivo = "Visita Familiar" } else if ($('#misionespecial').is(":checked") == true) { motivo = "Misión Especial" };
                if ($('#cooperacion').is(":checked") == true) { motivo = "Cooperación" }

                formulario = {
                    lineaAerea: $("#lineaAerea").val(),
                    numeroVuelo: $("#numeroVuelo").val(),
                    numeroAsiento: $("#numeroAsiento").val(),
                    fechaLlegada: $("#fechaLlegada").val(),
                    nroDocumento: $("#nroDocumento").val(),
                    apellido: $("#apellido").val(),
                    nombre: $("#nombre").val(),
                    inicial: $("#inicial").val(),
                    sexo: $("#sexo").val(),
                    celular: $("#celular").val(),
                    telefonoTrabajo: $("#telefonoTrabajo").val(),
                    telefonoDomicilio: $("#telefonoDomicilio").val(),
                    correoElectronico: $("#correoElectronico").val(),
                    direccionPermanente: $("#direccionPermanente").val(),
                    numeroCasaPermanente: $("#numeroCasaPermanente").val(),
                    ciudadPermanente: $("#ciudadPermanente").val(),
                    depEstProvPermanente: $("#depEstProvPermanente").val(),
                    idPaisPermanente: $("#idPaisPermanente").val(),
                    codigoPostalPermanente: $("#codigoPostalPermanente").val(),
                    nombreHotelTemp: $("#nombreHotelTemp").val(),
                    direccionHotelTemp: $("#direccionHotelTemp").val(),
                    numPiso: $("#numPiso").val(),
                    ciudadTemp: $("#ciudadTemp").val(),
                    departamentoTemp: $("#departamentoTemp").val(),
                    idPaisTemp: $("#idPaisTemp").val(),
                    codigoPostalTemp: $("#codigoPostalTemp").val(),
                    apellidoContUrg: $("#apellidoContUrg").val(),
                    nombreContUrg: $("#nombreContUrg").val(),
                    ciudadContUrg: $("#ciudadContUrg").val(),
                    idPaisContUrg: $("#idPaisContUrg").val(),
                    emailContUrg: $("#emailContUrg").val(),
                    celularContUrg: $("#celularContUrg").val(),
                    telefonoContUrg: $("#telefonoContUrg").val(),
                    contacto: contacto,
                    sintomas: sintomasgrupo,
                    hospital: hospital,
                    mercado: mercado,
                    motivo: motivo
                };

                var data = JSON.stringify({
                    formulario: formulario,
                    familia: familia,
                    grupo: grupoList,
                    sintomaticos: sintomaticos,
                    paisesTransitados: paisesTransitados
                });
                //envío datos
                $.ajax({
                    contentType: 'application/json',
                    type: 'POST',
                    url: "/Home/Index",
                    data: data,
                    success: function (data) {
                        
                        if (data.result == 1) {
                            alert("Problemas con el envio del correo electronico, por favor anote su codigo de formulario: ")
                            window.location.href = '@Url.Action("Impresion", "Home")'+'/'+data.codigo;
                        }
                        else {
                            window.location.href = '@Url.Action("Impresion", "Home")' + '/' + data.codigo;
                            $("#familia tbody").html('');
                            $("#grupo tbody").html('');
                            $("#sintomas tbody").html('');
                            $("#paisesTransitados tbody").html('');
                        }
                        clearFormulario();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("ERROR AL GUARDAR");
                    }
                });
                //clearFormulario();
                }
            }
    });
        //Borrar Campos Form
        function clearFormulario() {
            $("#lineaAerea").val('');
            $("#numeroVuelo").val('');
            $("#numeroAsiento").val('');
            $("#fechaLlegada").val('');
            $("#nroDocumento").val('');
            $("#apellido").val('');
            $("#nombre").val('');
            $("#inicial").val('');
            $("#sexo").val('');
            $("#celular").val('');
            $("#telefonoTrabajo").val('');
            $("#telefonoDomicilio").val('');
            $("#correoElectronico").val('');
            $("#direccionPermanente").val('');
            $("#numeroCasaPermanente").val('');
            $("#ciudadPermanente").val('');
            $("#depEstProvPermanente").val('');
            $("#idPaisPermanente").val('');
            $("#codigoPostalPermanente").val('');
            $("#nombreHotelTemp").val('');
            $("#direccionHotelTemp").val('');
            $("#numPiso").val('');
            $("#ciudadTemp").val('');
            $("#departamentoTemp").val('');
            $("#idPaisTemp").val('');
            $("#codigoPostalTemp").val('');
            $("#apellidoContUrg").val('');
            $("#nombreContUrg").val('');
            $("#ciudadContUrg").val('');
            $("#idPaisContUrg").val('');
            $("#emailContUrg").val('');
            $("#celularContUrg").val('');
            $("#telefonoContUrg").val('');
            $("input:checkbox[name=contacto]").prop("checked", false);
            $("input:checkbox[name=sintoas]").prop("checked", false);
            $("input:checkbox[name=hospital]").prop("checked", false);
            $("input:checkbox[name=mercado]").prop("checked", false);
            $("input:checkbox[name=motivo]").prop("checked", false);
        }
        //Borrar detalles de familia
        function clearFamilia() {
            $("#apellidoFamilia").val('');
            $("#nombreFamilia").val('');
            $("#nroAsientoFamilia").val('');
            $("#edadFamilia").val('');
        }
        //Borrar detalles de grupo
        function clearCompas() {
            $("#apellidoCompa").val('');
            $("#nombreCompa").val('');
        }
        //Borrar detalles de sintomaticos
        function clearSintomaticos() {
            $("#apellidoSintomatico").val('');
            $("#nombreSintomatico").val('');
            $("input:checkbox[name=sintom]").prop('checked', false);
        }
        //Borrar detalles de paises transitados
        function clearPaises() {
            $("#idPaisTransitado").val("");
        }
    });//fin document ready
</script>
<div id="modalreporte" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="vertical-align:central">Vista de Impresion </h4>
            </div>
            <div class="modal-body">
                <iframe src="~/Reportes/reportes.aspx" width="100%" height="500px"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>
