﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Correo</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/material-kit.css" rel="stylesheet" />

    <script src="~/Content/js/core/jquery.3.2.1.min.js"></script>
    <script src="~/Content/js/core/popper.min.js"></script>
    <script src="~/Content/js/core/bootstrap.min.js"></script>
    @*<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">*@
    <link href="~/Content/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />
    @*El modal tiene problemas con las librerias del layout, por eso se renderiza por separado*@
</head>
<body>
    @using (Html.BeginForm("PruebaCorreo", "Home", FormMethod.Post, new { id = "correo" }))
    {
        <div class="container-fluid">
            <div class="card strpied-tabled-with-hover" style="margin-bottom: 10px;">
                <div class="card-header">
                    <h4>Formulario de Prueba de correo</h4>
                </div>
                <div class="card-body">
                    <hr />
                    <div class="row">
                        <div class="col-sm-5 col-md-5 col-lg-4">
                            <label>Ingrese Correo</label>
                            @Html.TextBox("correo", "", new { @class = "form-control" })
                        </div>
                        <div class="col-sm-5 col-md-5 col-lg-2" style="align-content:center;">
                            <button class="btn btn-success btn-round" style="background-color:goldenrod;" id="btnImprimir" type="submit">
                                <i class="fa fa-mail-reply"></i>
                                Enviar Correo
                                <div class="ripple-container"></div>
                            </button>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    }
    </body>
</html>
