﻿@model SanitEntity.FormularioPrincipal

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>FormularioPrincipal</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.idLineaAerea)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.idLineaAerea)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.lineaAerea)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.lineaAerea)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.numeroVuelo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.numeroVuelo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.numeroAsiento)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.numeroAsiento)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.fechaLlegada)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.fechaLlegada)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.apellido)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.apellido)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.inicial)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.inicial)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.sexo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.sexo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.celular)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.celular)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.telefonoTrabajo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.telefonoTrabajo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.telefonoDomicilio)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.telefonoDomicilio)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.correoElectronico)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.correoElectronico)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.direccionPermanente)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.direccionPermanente)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.numeroCasaPermanente)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.numeroCasaPermanente)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ciudadPermanente)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ciudadPermanente)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.depEstProvPermanente)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.depEstProvPermanente)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.idPaisPermanente)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.idPaisPermanente)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.codigoPostalPermanente)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.codigoPostalPermanente)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.nombreHotelTemp)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.nombreHotelTemp)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.direccionHotelTemp)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.direccionHotelTemp)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.numPiso)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.numPiso)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ciudadTemp)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ciudadTemp)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.idDepartamentoTemp)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.idDepartamentoTemp)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.idPaisTemp)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.idPaisTemp)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.codigoPostalTemp)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.codigoPostalTemp)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.apellidoContUrg)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.apellidoContUrg)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.nombreContUrg)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.nombreContUrg)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ciudadContUrg)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ciudadContUrg)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.idPaisContUrg)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.idPaisContUrg)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.emailContUrg)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.emailContUrg)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.celularContUrg)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.celularContUrg)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.telefonoContUrg)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.telefonoContUrg)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.contacto14dias)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.contacto14dias)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.sintomas)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.sintomas)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.hospital14dias)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.hospital14dias)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.animalesVivos14Dias)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.animalesVivos14Dias)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
