﻿@model IEnumerable<SanitEntity.FormularioPrincipal>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idLineaAerea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lineaAerea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numeroVuelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numeroAsiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaLlegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefonoTrabajo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefonoDomicilio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correoElectronico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccionPermanente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numeroCasaPermanente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ciudadPermanente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.depEstProvPermanente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idPaisPermanente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codigoPostalPermanente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreHotelTemp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccionHotelTemp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numPiso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ciudadTemp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idDepartamentoTemp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idPaisTemp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codigoPostalTemp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellidoContUrg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreContUrg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ciudadContUrg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idPaisContUrg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emailContUrg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.celularContUrg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefonoContUrg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contacto14dias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sintomas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hospital14dias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.animalesVivos14Dias)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idLineaAerea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lineaAerea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numeroVuelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numeroAsiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaLlegada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefonoTrabajo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefonoDomicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correoElectronico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccionPermanente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numeroCasaPermanente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ciudadPermanente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.depEstProvPermanente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idPaisPermanente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigoPostalPermanente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreHotelTemp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccionHotelTemp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numPiso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ciudadTemp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idDepartamentoTemp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idPaisTemp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigoPostalTemp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellidoContUrg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreContUrg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ciudadContUrg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idPaisContUrg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailContUrg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.celularContUrg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefonoContUrg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contacto14dias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sintomas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hospital14dias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.animalesVivos14Dias)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.idpasajero }) |
                @Html.ActionLink("Details", "Details", new { id=item.idpasajero }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.idpasajero })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
